html{
    scroll-behavior: smooth;
}


body{
    background-color: aliceblue;
}


.nav-link:hover{
    text-decoration: none;
    border-bottom: 2px solid red;
    transition: 0.5 ease;
}

.main-container{
          height: 100vh;
          display:flex;
          flex-direction:column ;
          justify-content: center;
          align-items: center;
          background-image: url("star wars.jpg");
          background-attachment:fixed;
          background-size:cover ;
}

.restaurant{
    background-color: yellow;
    border-radius: 12px;
}